.message-input {
	font-size: 50;
}
.message-input .time {
	color: red;
}
.message-input .user {
	color: blue;
}
.message-input .message {
	color: black;
}

.message-container {
	width: 100%;
}

.message-container .container .header {
	border-bottom: 12px solid black;
}
.message-details {
	font-weight: 100;
}
.box-wrapper {
	padding: 0.5rem 1rem;
}

.box {
	max-width: 400px;
	width: 80%;
	/* margin: 10px auto; */
	border: 1px solid #00bfb6;
	padding: 6px;
	text-align: center;
	font-weight: 900;
	color: #00bfb6;
	font-family: arial;
	position: relative;
}

.incoming {
}

.incoming:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid #00bfb6;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	left: -21px;
}

.outgoing {
	margin-left: auto;
	margin-right: 0;
}

.outgoing:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid #00bfb6;
	border-right: 10px solid transparent;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	right: -21px;
}
