.message-input {
	font-size: 50;
}
.message-input .time {
	color: red;
}
.message-input .user {
	color: blue;
}
.message-input .message {
	color: black;
}

.message-container {
	width: 100%;
}

.message-container .container .header {
	border-bottom: 12px solid black;
}
